name: Build CSX to DLL

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "8.0.x"

    - name: Create temporary project
      run: |
        dotnet new classlib -n TempProject
        cd TempProject
        del Class1.cs

        powershell -Command ^
          "(Get-Content TempProject.csproj) -replace '</Project>', '  <ItemGroup><Compile Include=""../file.csx"" /></ItemGroup></Project>' | Set-Content TempProject.csproj"

    - name: Build DLL
      run: dotnet build TempProject/TempProject.csproj --configuration Release

    - name: Upload DLL
      uses: actions/upload-artifact@v4
      with:
        name: csx-dll
        path: TempProject/bin/Release/**/*.dll
